# Normalization - MinMax #

In [2]:
# Importing useful packages
# Importing useful packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kurtosis, skew
from sklearn import datasets
from scipy.stats import iqr
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

# Read in the csv file
df_data = pd.read_csv("ReadyDF_Outliers", header=0, index_col=0)
df_data.head(2)

,I1,I2,I3,P_IPO,P_H,P_L,P_1Day,C1,C2,C4,...,C5',C6',T3',T4',T5',S1',S2',S3',Y1,Y2
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.87,122.00,1.0,0.029074,...,3.864345,900.0,0.908876,0.640426,0.054250,0.004875,0.009199,0.010929,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.25,152.75,0.0,-0.013352,...,4.865080,0.0,0.898724,0.644753,0.051395,0.003258,0.011105,0.010876,1,0

In [3]:
# Creating a new variable for columns
new_cols = ['C1','C2',"C3'",'C4',"C5'","C6'",'C7',"T3'","T4'","T5'","S1'","S2'","S3'"]
# Creating a new 
df_normal_minmax = df_data.drop(['I1','I2','I3','P_IPO','P_H','P_L','P_1Day','Y1','Y2'],axis=1)
print(df_normal_minmax.head(2))
# Normalizing using MinMax
minmax = preprocessing.MinMaxScaler()
normal_df_data = (minmax.fit_transform(df_normal_minmax))
normal_df_data = pd.DataFrame(normal_df_data, columns=new_cols)

       C1   C2        C4      C7  C3'       C5'    C6'       T3'       T4'  \
0  122.00  1.0  0.029074  51.345    1  3.864345  900.0  0.908876  0.640426
1  152.75  0.0 -0.013352  25.936    0  4.865080    0.0  0.898724  0.644753

        T5'       S1'       S2'       S3'
0  0.054250  0.004875  0.009199  0.010929
1  0.051395  0.003258  0.011105  0.010876

In [ ]:
# Exporting to csv file