# Competition 1 #

#### Research Question & Goal ####

What are the determinants of the IPO underpricing phenomena? It is our job as a group to understand and identify the underlying determinants that factor into IPO underpricing.

### Business Understanding ###

According to Investopedia.com, Underpricing is the listing of an intial public offering (IPO) below its market value. When the offer price of the stock is lower than the price of the first trade, the stock is considered to be underpriced. This will only last for a short amount of time, as the demand of the stock is going to drive it back up to its value.

From a company standpoint, they wish to have the intial public offering as high as possible, which in turn raises the most capital. The quantitative factors that go into an initial public offering are all financial analysis reports from the company itself. Before the IPO, the company will be analyzed by its sales, expenses, earnings, and cash flow. Furthermore, a company's earnings and expected earnings growth are the biggest factors in the IPO. Marketability in a specific industry and the general market also can drive an IPO up or down.

Once the investment bankers or IPO underwriters determine the IPO price of the company's stock, the day before the stock is offered publically, the company will market the IPO to potential investors. For historical purposes, IPOs are viewed as risky investments because of the lack of historical data that is collected on them. The less liquidity that the stock/company has and predicatble IPO shares are going to be, the more likely they are going to be underprices to compensate for assumed risk. Company's also underprice their IPO to entice more investors to buy stocks to raise more capital.

With all of this information about intial public offerings, is there a few determinants that can be identified as to why the phenomenon of underpricing exists? The dataset that we have been provided provide information about companies and information regarding their IPO, such as IPO Offering, IPO Characteristics, Textual Characterisitics, Sentiment Characteristics, Target Variables, Control Variables, and IPO Identifiers.

The variables that have been provided are listed below:

 - P(PHO) - Offer Price
 - P(H) - Price Range Higher Bound
 - P(L) - Price Range Lower Bound
 - P(1Day) - First Day Trading Price
 - C1 - Days
 - C2 - Top-Tier Dummy
 - C3 - Earnings per Share
 - C4 - Prior NASDAQ 15-Day Returns
 - C5 - Outstanding Shares
 - C6 - Offering Shares
 - C7 - Sales
 - T1 - Number of Sentences
 - T2 - Number of Words
 - T3 - Number of Real Words
 - T4 - Number of Long Sentences
 - T5 - Number of Long Words
 - S1 - Number of Positive Words
 - S2 - Number of Negative Words
 - S3 - Number of Uncertain Words
 - Y1 - Pre-IPO Price Revision
 - Y2 - Post-IPO Initial Return
 - C3' - Positive EPS Dummy
 - C5' - Share Overhang
 - C6' - Up Revision
 - I1 - Ticker
 - I2 - Company Name
 - I3 - Standard Industry Classifier

## Data Understanding ##

In [26]:
# Importing useful packages
import pandas as pd
import numpy as np

# Read in the .xlsx datafile and converting into a DataFrame
data = pd.read_excel("Competition1_raw_data.xlsx",header=0,na_values="-")
df_data = pd.DataFrame(data)

In [27]:
# Understanding the datatypes for the features
print(df_data.head())

     I1                                  I2    I3  P(IPO)  P(H)  P(L)  \
0  AATI  ADVANCED ANALOGIC TECHNOLOGIES INC  3674    10.0   9.5   8.5
1  ABPI     ACCENTIA BIOPHARMACEUTICALS INC  2834     8.0  10.0   8.0
2  ACAD          ACADIA PHARMACEUTICALS INC  2834     7.0  14.0  12.0
3  ACHN       ACHILLION PHARMACEUTICALS INC  2834    11.5  16.0  14.0
4  ACLI     AMERICAN COMMERCIAL LINES INC.   4492    21.0  21.0  19.0

     P(1Day)     C1   C2    C3  ...            C6       C7     T1       T2  \
0  11.870000  122.0  1.0  3.43  ...    10600000.0   51.345  470.0  12719.0
1   7.250000  259.0  0.0 -1.62  ...     2400000.0   25.936  791.0  21792.0
2   6.700000   90.0  1.0 -1.24  ...     5000000.0    7.378  201.0   5262.0
3  12.390000  209.0  1.0 -0.91  ...     4500000.0    8.526  328.0   8259.0
4  56.599998   80.0  1.0  0.07  ...     8250000.0  632.298  572.0  14830.0

        T3     T4      T5    S1     S2     S3
0  11560.0  301.0   690.0  62.0  117.0  139.0
1  19585.0  510.0  1120.0  71.0  242.0  237.0
2   4785.0  128.0   325.0  61.0   33.0   60.0
3   7574.0  177.0   509.0  80.0   59.0  110.0
4  13176.0  336.0   720.0  67.0  149.0  167.0

[5 rows x 22 columns]

__We will remove the column headers that have parentheses in them to underscores, as it will be easier to reference those columns.__

In [28]:
# Renaming Column Headers with '()' in it
cols = ['I1','I2','I3','P_IPO','P_H','P_L','P_1Day','C1','C2','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']

# Define columns of 'df_data' using 'cols'
df_data.columns = cols

# Displaying the first 5 rows of dataframe 'df_data'
# it should show 22 columns
print(df_data.head())

     I1                                  I2    I3  P_IPO   P_H   P_L  \
0  AATI  ADVANCED ANALOGIC TECHNOLOGIES INC  3674   10.0   9.5   8.5
1  ABPI     ACCENTIA BIOPHARMACEUTICALS INC  2834    8.0  10.0   8.0
2  ACAD          ACADIA PHARMACEUTICALS INC  2834    7.0  14.0  12.0
3  ACHN       ACHILLION PHARMACEUTICALS INC  2834   11.5  16.0  14.0
4  ACLI     AMERICAN COMMERCIAL LINES INC.   4492   21.0  21.0  19.0

      P_1Day     C1   C2    C3  ...            C6       C7     T1       T2  \
0  11.870000  122.0  1.0  3.43  ...    10600000.0   51.345  470.0  12719.0
1   7.250000  259.0  0.0 -1.62  ...     2400000.0   25.936  791.0  21792.0
2   6.700000   90.0  1.0 -1.24  ...     5000000.0    7.378  201.0   5262.0
3  12.390000  209.0  1.0 -0.91  ...     4500000.0    8.526  328.0   8259.0
4  56.599998   80.0  1.0  0.07  ...     8250000.0  632.298  572.0  14830.0

        T3     T4      T5    S1     S2     S3
0  11560.0  301.0   690.0  62.0  117.0  139.0
1  19585.0  510.0  1120.0  71.0  242.0  237.0
2   4785.0  128.0   325.0  61.0   33.0   60.0
3   7574.0  177.0   509.0  80.0   59.0  110.0
4  13176.0  336.0   720.0  67.0  149.0  167.0

[5 rows x 22 columns]

In [29]:
# Defining the Data Types of the Data
print(df_data.dtypes)

I1         object
I2         object
I3         object
P_IPO     float64
P_H       float64
P_L       float64
P_1Day    float64
C1        float64
C2        float64
C3        float64
C4        float64
C5        float64
C6        float64
C7        float64
T1        float64
T2        float64
T3        float64
T4        float64
T5        float64
S1        float64
S2        float64
S3        float64
dtype: object

In [31]:
# Describing the Data
print(df_data.describe())

            P_IPO         P_H         P_L       P_1Day           C1  \
count  677.000000  672.000000  672.000000   660.000000   660.000000
mean    13.837666   15.481190   13.515045    25.934766   149.728788
std      6.053731    6.653429    5.835646    73.234948   152.817467
min      3.000000    0.000000    3.000000     0.000000    10.000000
25%     10.000000   12.500000   11.000000    11.000000    85.000000
50%     13.500000   15.000000   13.000000    14.845000   107.000000
75%     17.000000   17.000000   15.000000    20.485000   155.250000
max     85.000000  135.000000  108.000000  1159.200562  2087.000000

               C2           C3          C4            C5            C6  \
count  660.000000   646.000000  660.000000  6.760000e+02  6.760000e+02
mean     0.859091     1.788904    0.007282  4.935776e+07  1.241519e+07
std      0.348192   162.666532    0.033318  1.043764e+08  2.512855e+07
min      0.000000  -786.239000   -0.162352  3.693227e+06  5.250000e+05
25%      1.000000    -0.852500   -0.013927  1.871417e+07  5.000000e+06
50%      1.000000     0.010000    0.009125  2.740018e+07  7.398704e+06
75%      1.000000     0.470000    0.031571  4.980786e+07  1.200000e+07
max      1.000000  3864.500000    0.092896  2.138085e+09  4.212336e+08

                 C7           T1            T2            T3           T4  \
count    610.000000   681.000000    681.000000    681.000000   681.000000
mean     500.459962   465.634361  12758.606461  11395.844347   294.353891
std     1648.337634   175.741647   5449.644597   4839.670179   121.532637
min        0.074000   132.000000      0.000000      0.000000     0.000000
25%       37.245750   351.000000   9195.000000   8162.000000   213.000000
50%      103.833000   444.000000  12045.000000  10785.000000   279.000000
75%      331.138000   551.000000  15241.000000  13760.000000   354.000000
max    30683.000000  1750.000000  49056.000000  43952.000000  1058.000000

                 T5          S1          S2          S3
count    681.000000  681.000000  681.000000  681.000000
mean     679.220264   68.421439  120.104258  144.759178
std      472.914323   39.096525   84.828959   69.276285
min       -1.000000   -1.000000   20.000000   26.000000
25%      462.000000   45.000000   73.000000  100.000000
50%      624.000000   60.000000  100.000000  134.000000
75%      795.000000   85.000000  142.000000  173.000000
max    10277.000000  309.000000  944.000000  883.000000

### Understanding Missing Values ###

Upon intial investigation, there seem to be no missing values, which is great.

But doing some further digging, there are missing values, but the 'for loop', it does not pick up on dashes/hyphens. To show that there are missing values in the dataset.

In [30]:
# Creating an empty list for column names
names = []

# Creating an empty list for the number of null values in each column
values = []

# Checking for Missing Values
for col in df_data.columns:
    names.append(col)
    values.append(df_data[col].isnull().sum())
    print(names[-1],values[-1])

I1 0
I2 0
I3 8
P_IPO 5
P_H 10
P_L 10
P_1Day 22
C1 22
C2 22
C3 36
C4 22
C5 6
C6 6
C7 72
T1 1
T2 1
T3 1
T4 1
T5 1
S1 1
S2 1
S3 1

##### Actual Missing Values ####

There are only two columns `I1` and `I2` that do not have any "hyphens" or missing values.

The issue that we have now is how to deal with these missing values.

It is unique to see that columns `T1` through `S3` all have 1 missing value. Is it safe to assume that the individual missing values from those columns all belong to one record? Possibly. We will have to identify that one record if that is the case.

In [21]:
# Identifying the row that has the missing values

I1         object
I2         object
I3         object
P_IPO     float64
P_H       float64
P_L       float64
P_1Day    float64
C1        float64
C2        float64
C3        float64
C4        float64
C5        float64
C6        float64
C7        float64
T1        float64
T2        float64
T3        float64
T4        float64
T5        float64
S1        float64
S2        float64
S3        float64
dtype: object

That is the only row that has the columns `T1` through `S3` that are invalid. We will also identify all the rows that have missing data, which will help identify, overall, how many records have been recorded with at least 1 point of missing data.