# Competition 1 #

#### Research Question & Goal ####

What are the determinants of the IPO underpricing phenomena? It is our job as a group to understand and identify the underlying determinants that factor into IPO underpricing.

### Business Understanding ###

According to Investopedia.com, Underpricing is the listing of an intial public offering (IPO) below its market value. When the offer price of the stock is lower than the price of the first trade, the stock is considered to be underpriced. This will only last for a short amount of time, as the demand of the stock is going to drive it back up to its value.

From a company standpoint, they wish to have the intial public offering as high as possible, which in turn raises the most capital. The quantitative factors that go into an initial public offering are all financial analysis reports from the company itself. Before the IPO, the company will be analyzed by its sales, expenses, earnings, and cash flow. Furthermore, a company's earnings and expected earnings growth are the biggest factors in the IPO. Marketability in a specific industry and the general market also can drive an IPO up or down.

Once the investment bankers or IPO underwriters determine the IPO price of the company's stock, the day before the stock is offered publically, the company will market the IPO to potential investors. For historical purposes, IPOs are viewed as risky investments because of the lack of historical data that is collected on them. The less liquidity that the stock/company has and predicatble IPO shares are going to be, the more likely they are going to be underprices to compensate for assumed risk. Company's also underprice their IPO to entice more investors to buy stocks to raise more capital.

With all of this information about intial public offerings, is there a few determinants that can be identified as to why the phenomenon of underpricing exists? The dataset that we have been provided provide information about companies and information regarding their IPO, such as IPO Offering, IPO Characteristics, Textual Characterisitics, Sentiment Characteristics, Target Variables, Control Variables, and IPO Identifiers.

The variables that have been provided are listed below:

- P(PHO) - Offer Price
- P(H) - Price Range Higher Bound
- P(L) - Price Range Lower Bound
- P(1Day) - First Day Trading Price
- C1 - Days
- C2 - Top-Tier Dummy
- C3 - Earnings per Share
- C4 - Prior NASDAQ 15-Day Returns
- C5 - Outstanding Shares
- C6 - Offering Shares
- C7 - Sales
- T1 - Number of Sentences
- T2 - Number of Words
- T3 - Number of Real Words
- T4 - Number of Long Sentences
- T5 - Number of Long Words
- S1 - Number of Positive Words
- S2 - Number of Negative Words
- S3 - Number of Uncertain Words
- Y1 - Pre-IPO Price Revision
- Y2 - Post-IPO Initial Return
- C3' - Positive EPS Dummy
- C5' - Share Overhang
- C6' - Up Revision
- I1 - Ticker
- I2 - Company Name
- I3 - Standard Industry Classifier

## Data Understanding ##

In [30]:
# Importing useful packages
import pandas as pd
import numpy as np

# Read in the .xlsx datafile and
data = pd.read_excel("Competition1_raw_data.xlsx", header=0, na_values="none")
df_data = pd.DataFrame(data)

In [44]:
pd.set_option('display.max_rows', 22)
print(df_data.dtypes)

I1          object
I2          object
I3          object
P(IPO)     float64
P(H)       float64
P(L)       float64
P(1Day)    float64
C1         float64
C2         float64
C3         float64
C4         float64
C5         float64
C6         float64
C7         float64
T1         float64
T2         float64
T3         float64
T4         float64
T5         float64
S1         float64
S2         float64
S3         float64
dtype: object

In [39]:
#Converting '-' to null value
df_data.replace('-', np.nan, inplace=True)

In [46]:
#counting the number of null values in each data column
print(df_data.isnull().sum(axis=0).tolist())

[0, 0, 8, 5, 10, 10, 22, 22, 22, 36, 22, 6, 6, 72, 1, 1, 1, 1, 1, 1, 1, 1]

In [49]:
df_data.describe()

,P(IPO),P(H),P(L),P(1Day),C1,C2,C3,C4,C5,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
count,677.000000,672.000000,672.000000,660.000000,660.000000,660.000000,646.000000,660.000000,6.760000e+02,6.760000e+02,610.000000,681.000000,681.000000,681.000000,681.000000,681.000000,681.000000,681.000000,681.000000
mean,13.837666,15.481190,13.515045,25.934766,149.728788,0.859091,1.788904,0.007282,4.935776e+07,1.241519e+07,500.459962,465.634361,12758.606461,11395.844347,294.353891,679.220264,68.421439,120.104258,144.759178
std,6.053731,6.653429,5.835646,73.234948,152.817467,0.348192,162.666532,0.033318,1.043764e+08,2.512855e+07,1648.337634,175.741647,5449.644597,4839.670179,121.532637,472.914323,39.096525,84.828959,69.276285
min,3.000000,0.000000,3.000000,0.000000,10.000000,0.000000,-786.239000,-0.162352,3.693227e+06,5.250000e+05,0.074000,132.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,20.000000,26.000000
25%,10.000000,12.500000,11.000000,11.000000,85.000000,1.000000,-0.852500,-0.013927,1.871417e+07,5.000000e+06,37.245750,351.000000,9195.000000,8162.000000,213.000000,462.000000,45.000000,73.000000,100.000000
50%,13.500000,15.000000,13.000000,14.845000,107.000000,1.000000,0.010000,0.009125,2.740018e+07,7.398704e+06,103.833000,444.000000,12045.000000,10785.000000,279.000000,624.000000,60.000000,100.000000,134.000000
75%,17.000000,17.000000,15.000000,20.485000,155.250000,1.000000,0.470000,0.031571,4.980786e+07,1.200000e+07,331.138000,551.000000,15241.000000,13760.000000,354.000000,795.000000,85.000000,142.000000,173.000000
max,85.000000,135.000000,108.000000,1159.200562,2087.000000,1.000000,3864.500000,0.092896,2.138085e+09,4.212336e+08,30683.000000,1750.000000,49056.000000,43952.000000,1058.000000,10277.000000,309.000000,944.000000,883.000000

In [50]:
df_data.I1.unique()

array(['AATI', 'ABPI', 'ACAD', 'ACHN', 'ACLI', 'ACOM', 'ACOR', 'ACRX',
       'ACTV', 'ACW', 'ADKU', 'ADLS', 'ADZA', 'AFFY', 'AGAM', 'AH',
       'AHII', 'AIMC', 'AIRV', 'ALGT', 'ALIM', 'ALJ', 'ALLI', 'ALNY',
       'ALTU', 'ALXA', 'AMBA', 'AMIS', 'AMRC', 'ANAC', 'ANFI', 'ANGI',
       'ANGO', 'AONE', 'AOSL', 'APEI', 'APKT', 'ARAY', 'ARBX', 'ARCL',
       'ARCO', 'AREX', 'ARII', 'ARP', 'ARST', 'ARTE', 'ARUN', 'ASPV',
       'ATEC', 'ATHN', 'ATRC', 'AUXL', 'AVAV', 'AVEO', 'AVGO', 'AVNC',
       'AVR', 'AVRX', 'AWAY', 'AWK', 'AYR', 'BAGL', 'BAH', 'BALT', 'BARE',
       'BAS', 'BBBB', 'BBG', 'BBND', 'BBRG', 'BBW', 'BCOV', 'BDAY', 'BDE',
       'BEAT', 'BECN', 'BFAM', 'BFRM', 'BHRT', 'BIOD', 'BIOF', 'BKC',
       'BKRS', 'BLMN', 'BLOG', 'BLSW', 'BLT', 'BMTI', 'BNNY', 'BODY',
       'BOX', 'BPI', 'BRNC', 'BSFT', 'BTRX', 'BUN', 'BV', 'BWLD', 'BWTR',
       'BWY', 'CAB', 'CABG', 'CADX', 'CALD', 'CALL', 'CALX', 'CAP',
       'CARB', 'CATM', 'CBEY', 'CBOU', 'CCO', 'CDL', 'CDM', 'CE', 'CELM',
       'CEMP', 'CENF', 'CERE', 'CF', 'CFX', 'CGTK', 'CHEF', 'CIL', 'CLAY',
       'CLD', 'CLU', 'CLUB', 'CLWR', 'CML', 'CMP', 'CNSL', 'CNVO', 'CNVX',
       'COGT', 'COLY', 'COMV', 'CONN', 'CONR', 'CORT', 'CPII', 'CPIX',
       'CPX', 'CRDC', 'CREL', 'CRI', 'CRMH', 'CROX', 'CRU', 'CRYO',
       'CSCD', 'CSIQ', 'CSTE', 'CTCT', 'CTP', 'CTRN', 'CVGI', 'CVI',
       'CXO', 'CYNO', 'CYTK', 'CZR', 'DBTK', 'DCIN', 'DCP', 'DDMG',
       'DDUP', 'DEEP', 'DEIX', 'DEX', 'DG', 'DHX', 'DIVX', 'DK', 'DLB',
       'DM', 'DMAN', 'DMD', 'DMED', 'DMND', 'DNKN', 'DOLE', 'DPZ', 'DRC',
       'DRTX', 'DSUP', 'DSW', 'DTSI', 'DVAX', 'DVOX', 'DVR', 'DWA',
       'DWRE', 'DWRI', 'DXCM', 'DYP', 'EBS', 'ECHO', 'ECYT', 'EDG',
       'EDMC', 'EEEE', 'EGLT', 'ELMD', 'ELOQ', 'EM', 'EMAG', 'ENPH',
       'ENSG', 'ENTA', 'ENTR', 'ENV', 'EPAM', 'EPOC', 'ERII', 'ESEA',
       'ETRM', 'EURX', 'EVVV', 'EXA', 'EXAM', 'EXLS', 'EXPR', 'EYET',
       'FACE', 'FANG', 'FB', 'FCL', 'FFN', 'FIO', 'FIRE', 'FIVE', 'FLT',
       'FLTX', 'FN', 'FNET', 'FOLD', 'FOXH', 'FRAN', 'FRP', 'FSL', 'FSLR',
       'FSTC', 'FTD', 'FTNT', 'FUQI', 'G', 'GASS', 'GEVO', 'GGL', 'GGS',
       'GGXY', 'GHDX', 'GKIS', 'GLOG', 'GLUU', 'GMAN', 'GMED', 'GMET',
       'GMTN', 'GNMK', 'GNOM', 'GNRC', 'GOLF', 'GOOG', 'GRPN', 'GSAT',
       'GSE', 'GSL', 'GTEC', 'GTOP', 'GTXI', 'GUID', 'GWAY', 'GXDX',
       'HCA', 'HCCI', 'HEES', 'HEM', 'HERO', 'HGG', 'HIRE', 'HITT',
       'HLYS', 'HNSN', 'HOO', 'HPJ', 'HPTX', 'HPY', 'HRZ', 'HS', 'HTZ',
       'HUN', 'HURN', 'IBI', 'ICFI', 'ICPT', 'ICXT', 'IFO', 'IKAN', 'IL',
       'ILSE', 'IMI', 'IMMC', 'INCX', 'INET', 'INHX', 'INPC', 'INVN',
       'INWK', 'IOMI', 'IPAS', 'IPCM', 'IPDN', 'IPGP', 'IPHI', 'IPHS',
       'IPI', 'IPMT', 'IRWD', 'ISLN', 'ITC', 'ITLN', 'IVII', 'IWA', 'JOR',
       'KAR', 'KBAY', 'KCI', 'KEYW', 'KFI', 'KIOR', 'KIPS', 'KNOL',
       'KNTA', 'KNXA', 'KONA', 'KORS', 'KRA', 'LDIS', 'LGBT', 'LHCG',
       'LIMC', 'LIMS', 'LINC', 'LLNW', 'LMAT', 'LNKD', 'LOCK', 'LOGM',
       'LPI', 'LPR', 'LQDT', 'LTM', 'LULU', 'LUNA', 'LVS', 'LZEN', 'MA',
       'MACK', 'MAKO', 'MANU', 'MAPP', 'MASI', 'MATH', 'MBLX', 'MBRX',
       'MCP', 'MDAS', 'MDMD', 'MDSO', 'MEDE', 'MEDH', 'MELA', 'MEMS',
       'MEND', 'MFLX', 'MG', 'MHGC', 'MIPI', 'MJN', 'MKTG', 'MLNX', 'MM',
       'MNKD', 'MNTA', 'MOH', 'MOTR', 'MOTV', 'MPO', 'MPWR', 'MRC',
       'MRIN', 'MRT', 'MTDR', 'MTSI', 'MUSA', 'MXL', 'MYOG', 'N', 'NAUH',
       'NBY', 'NCIT', 'NCMI', 'NETL', 'NEXT', 'NGSX', 'NGVC', 'NHWK',
       'NILE', 'NIV', 'NLC', 'NLSN', 'NOR', 'NOW', 'NPTN', 'NPTT', 'NSE',
       'NSPH', 'NSR', 'NSTC', 'NSTR', 'NTGR', 'NURO', 'NVT', 'NXPI',
       'NXST', 'NXTM', 'NZ', 'OAS', 'OCLS', 'OCNF', 'ODMO', 'OESX',
       'OLED', 'OMER', 'OMPI', 'OMRI', 'ONE', 'OPTM', 'OPTR', 'OPTT',
       'OPXT', 'ORA', 'ORBC', 'OREX', 'OSIR', 'OVNT', 'OWW', 'P', 'PA',
       'PANW', 'PAR', 'PAY', 'PBH', 'PCRX', 'PCS', 'PEC', 'PFMT', 'PFWD',
       'PGTI', 'PHRM', 'PINN', 'PLOW', 'PLTE', 'PMII', 'PODD', 'PPO',
       'PRAI', 'PRGN', 'PRLB', 'PRMW', 'PROJ', 'PRSC', 'PRSS', 'PRTS',
       'PRVD', 'PSMI', 'PSPT', 'PTEK', 'PUMP', 'QLIK', 'QLTY', 'QLYS',
       'QNST', 'QXM', 'RA', 'RACK', 'RAIL', 'RBCN', 'RCH', 'RDYN', 'REDE',
       'REGI', 'REST', 'REXX', 'RGLS', 'RHEO', 'RKUS', 'RLD', 'RLOC',
       'RNDY', 'RNET', 'RNIN', 'RNOW', 'ROC', 'ROLL', 'ROSG', 'ROX', 'RP',
       'RRR', 'RRST', 'RRTS', 'RST', 'RUE', 'RVBD', 'SAI', 'SAVE', 'SB',
       'SCMP', 'SCOP', 'SCOR', 'SCTY', 'SDXC', 'SEM', 'SENO', 'SFLY',
       'SFSF', 'SGOC', 'SGTL', 'SGXP', 'SHMR', 'SHO', 'SHOR', 'SIRF',
       'SIRT', 'SLCA', 'SLRY', 'SMA', 'SMBI', 'SMCI', 'SN', 'SNCR',
       'SNMX', 'SNTA', 'SOLR', 'SOMX', 'SPLK', 'SPWR', 'SQI', 'SREV',
       'SRVY', 'SSNC', 'SSNI', 'SSTK', 'ST', 'STAK', 'STAR', 'STNG',
       'STRI', 'STRL', 'STXS', 'SUSS', 'SVR', 'SWFT', 'SWI', 'SWSI',
       'SXC', 'SXE', 'SZYM', 'TARG', 'TAST', 'TBSI', 'TDG', 'TEA', 'TEU',
       'TFM', 'TGH', 'THLD', 'THR', 'THRM', 'THRX', 'TIS', 'TITN', 'TLEO',
       'TLVT', 'TMH', 'TNAV', 'TNDM', 'TNK', 'TOWR', 'TRAK', 'TRBN',
       'TRCA', 'TRFC', 'TRGT', 'TRLA', 'TRMM', 'TRS', 'TRW', 'TRX',
       'TRXI', 'TSLA', 'TSON', 'TSRA', 'TSRO', 'TSRX', 'TTGT', 'TTPH',
       'TTPY', 'TUMI', 'TWLL', 'TXRH', 'TYPE', 'TZOO', 'TZYM', 'UACL',
       'UAPH', 'UBNT', 'UNCA', 'UPG', 'USBE', 'V', 'VCC', 'VCG', 'VCRA',
       'VG', 'VIAC', 'VITC', 'VLCM', 'VLRX', 'VM', 'VNDA', 'VNTV', 'VNUS',
       'VOCS', 'VOLC', 'VPRT', 'VQ', 'VRA', 'VRAD', 'VRAZ', 'VRGY',
       'VRSK', 'VRTU', 'VSE', 'VSI', 'VSTM', 'VTUS', 'WAGE', 'WAIR',
       'WBMD', 'WCAA', 'WCG', 'WCRX', 'WDAY', 'WIFI', 'WLDN', 'WLK',
       'WLL', 'WLSC', 'WMG', 'WNR', 'WOLF', 'WSSI', 'WSTC', 'WTI', 'XCYT',
       'XGEN', 'XPRT', 'XRM', 'XTNT', 'XTXI', 'Z', 'ZBB', 'ZGNX', 'ZINC',
       'ZIP', 'ZLTQ', 'ZSTN', 'ZUMZ', 'ZZ'], dtype=object)