# We made this because it was easier this way, and it looks cleaner for showing steps that we took #

In [10]:
# Importing packages and importing csv files to respective variables

import pandas as pd
data = pd.read_csv("ReadyDF_Skew", index_col=0)
Targets = pd.read_csv("ReadyDF_Targets", index_col=0)

In [4]:
# Refreshing the 'ReadyDF_Targets' csv file
Targets.head(2)

,I1,I2,I3,P_IPO,P_H,P_L,P_1Day,Y1,Y2
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.87,0,1
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.25,1,0

In [6]:
# Dropping columns that I will not need further than this
Targets = Targets.drop(['I1','I2','I3','P_IPO','P_H','P_L','P_1Day'], axis=1)
Targets.head(2)

   Y1  Y2
0   0   1
1   1   0

In [11]:
# Concatinating Targets and data into a new variable to be used for a new csv that will be used for modeling
ReadyDF_USE_ME = pd.concat([Targets,data], axis=1)
ReadyDF_USE_ME.head(2)

,I1,I2,I3,P_IPO,P_H,P_L,P_1Day,Y1,Y2,C1,...,C7,C3',C5',C6',T3',T4',T5',S1',S2',S3'
0,AATI,ADVANCED ANALOGIC TECHNOLOGIES INC,3674,10.0,9.5,8.5,11.87,0,1,122.00,...,3.716773,1,3.864345,900.0,0.908876,0.640426,0.054250,0.004875,0.009199,0.010929
1,ABPI,ACCENTIA BIOPHARMACEUTICALS INC,2834,8.0,10.0,8.0,7.25,1,0,152.75,...,2.960063,0,4.865080,0.0,0.898724,0.644753,0.051395,0.003258,0.011105,0.010876

In [12]:
# Sending new df to a csv for further use
ReadyDF_USE_ME.to_csv("ReadyDF_USE_ME",",")