# Normalization - MinMax #

In [5]:
# Importing useful packages
# Importing useful packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kurtosis, skew
from sklearn import datasets
from scipy.stats import iqr
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

# Read in the csv file
data = pd.read_csv("ReadyDF_Outliers", index_col=0)
data.head(2)

,C1,C2,C4,C7,C3',C5',C6',T3',T4',T5',S1',S2',S3'
0,122.00,1.0,0.029074,51.345,1,3.864345,900.0,0.908876,0.640426,0.054250,0.004875,0.009199,0.010929
1,152.75,0.0,-0.013352,25.936,0,4.865080,0.0,0.898724,0.644753,0.051395,0.003258,0.011105,0.010876

In [6]:
# Creating a new variable for columns
new_cols = ['C1','C2',"C3'",'C4',"C5'","C6'",'C7',"T3'","T4'","T5'","S1'","S2'","S3'"]
# Normalizing using MinMax
minmax = preprocessing.MinMaxScaler()
normal_data = (minmax.fit_transform(data))
normal_data = pd.DataFrame(normal_data, columns=new_cols)

In [7]:
# Checking the mean to see if the normalization took place
data.mean()

C1     115.363270
C2       0.863636
C4       0.007342
C7     154.910100
C3'      0.529326
C5'      3.853964
C6'    588.819648
T3'      0.895960
T4'      0.628948
T5'      0.052013
S1'      0.005205
S2'      0.008789
S3'      0.011299
dtype: float64

In [8]:
# Exporting to csv file
data.to_csv("ReadyDF_Normalization",",")