In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
import seaborn as sns
from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

data = pd.read_csv("Ready_DF_USE_ME", index_col=0)
data.head(2)

,C1,C2,C4,C7,C3',C5',C6',T3',T4',T5',S1',S2',S3',Y1,Y2
0,0.144811,0.397360,0.700156,-0.590043,0.942972,0.070221,1.133020,0.635348,0.182031,0.375422,-0.165963,0.276180,-0.104356,0,1
1,1.841533,-2.516611,-0.784155,-1.085427,-1.060477,-0.023130,-0.776623,0.210550,0.247332,-0.031227,-1.622714,0.972579,-0.128206,1,0

In [2]:
## First we will separate the target variables from the rest of the dataframe into their own variables
Y1 = data.loc[:,['Y1']].values.ravel()
Y2 = data.loc[:,['Y2']].values.ravel()

In [3]:
## Now we will drop the targets from the dataframe, as they are stored in their own variables
data = data.drop(['Y1','Y2'], axis=1)
data.head(2)

,C1,C2,C4,C7,C3',C5',C6',T3',T4',T5',S1',S2',S3'
0,0.144811,0.397360,0.700156,-0.590043,0.942972,0.070221,1.133020,0.635348,0.182031,0.375422,-0.165963,0.276180,-0.104356
1,1.841533,-2.516611,-0.784155,-1.085427,-1.060477,-0.023130,-0.776623,0.210550,0.247332,-0.031227,-1.622714,0.972579,-0.128206

In [4]:
##### THIS MODEL IS FOR Y1 #####
## We will create a base model to use to evaluate the attributes
rfe_model = LogisticRegression()

## We will create the RFE Models that we desire
rfe = RFE(rfe_model,4)
rfe = rfe.fit(data, Y1)

## Showing the results from our Y1 RFE Model
print(rfe.support_)
print(rfe.ranking_)

[False False False False False False  True  True False False  True  True
 False]
[10  6  9  3  4  2  1  1  5  7  1  1  8]

In [5]:
##### THIS MODEL IS FOR Y1 #####
## We will create a base model to use to evaluate the attributes
rfe_model = LogisticRegression()

## We will create the RFE Models that we desire
rfe = RFE(rfe_model,4)
rfe = rfe.fit(data, Y2)

## Showing the results from our Y1 RFE Model
print(rfe.support_)
print(rfe.ranking_)

[False False  True False False False  True False False False False  True
  True]
[ 8  3  1  2  7 10  1  4  9  6  5  1  1]