In [2]:
# Importing useful packages
# Importing useful packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import kurtosis, skew
from sklearn import datasets
from sklearn import preprocessing

# Importing csv to variable
data = pd.read_csv("Outliers_Z", index_col=0)
data.head(2)

,C1,C2,C4,C7,C3',C5',C6',T3',T4',T5',S1',S2',S3'
0,4.812184,1.0,0.029074,3.957856,1,1.581932,6.803505,0.968653,0.640426,-1.265604,-2.312061,-2.036267,-1.961438
1,5.560682,0.0,-0.013352,3.293464,0,1.554144,0.000000,0.965033,0.644753,-1.289079,-2.487039,-1.954482,-1.963549

In [4]:
# We will use .StandardScaler() to normalize using the z-score
## We will use .fit_transform() as that helps center the data and then transforms it from the internal objects that it creates

## Creating columns for new dataframe post-normalization
new_cols = data.columns

## Creating a scaler function (z-score function)
scaler_z = preprocessing.StandardScaler()

## Transforming the data frame `data`
data_norm = scaler_z.fit_transform(data)

## Creating a new data frame
data_norm = pd.DataFrame(data_norm, columns=new_cols)

## Printing new dataframe to display new column values
data_norm.head(2)

,C1,C2,C4,C7,C3',C5',C6',T3',T4',T5',S1',S2',S3'
0,0.144811,0.397360,0.700156,-0.590043,0.942972,0.070221,1.133020,0.635348,0.182031,0.375422,-0.165963,0.276180,-0.104356
1,1.841533,-2.516611,-0.784155,-1.085427,-1.060477,-0.023130,-0.776623,0.210550,0.247332,-0.031227,-1.622714,0.972579,-0.128206

In [5]:
## Checking the standard deviation of the columns
data_norm.std()

C1     1.000734
C2     1.000734
C4     1.000734
C7     1.000734
C3'    1.000734
C5'    1.000734
C6'    1.000734
T3'    1.000734
T4'    1.000734
T5'    1.000734
S1'    1.000734
S2'    1.000734
S3'    1.000734
dtype: float64

In [6]:
## Exporting to a new csv
data_norm.to_csv("ReadyDF_NORMAL", ",")