# Competition 1 #

#### Research Question & Goal ####

What are the determinants of the IPO underpricing phenomena? It is our job as a group to understand and identify the underlying determinants that factor into IPO underpricing.

### Business Understanding ###

According to Investopedia.com, Underpricing is the listing of an intial public offering (IPO) below its market value. When the offer price of the stock is lower than the price of the first trade, the stock is considered to be underpriced. This will only last for a short amount of time, as the demand of the stock is going to drive it back up to its value.

From a company standpoint, they wish to have the intial public offering as high as possible, which in turn raises the most capital. The quantitative factors that go into an initial public offering are all financial analysis reports from the company itself. Before the IPO, the company will be analyzed by its sales, expenses, earnings, and cash flow. Furthermore, a company's earnings and expected earnings growth are the biggest factors in the IPO. Marketability in a specific industry and the general market also can drive an IPO up or down.

Once the investment bankers or IPO underwriters determine the IPO price of the company's stock, the day before the stock is offered publically, the company will market the IPO to potential investors. For historical purposes, IPOs are viewed as risky investments because of the lack of historical data that is collected on them. The less liquidity that the stock/company has and predicatble IPO shares are going to be, the more likely they are going to be underprices to compensate for assumed risk. Company's also underprice their IPO to entice more investors to buy stocks to raise more capital.

With all of this information about intial public offerings, is there a few determinants that can be identified as to why the phenomenon of underpricing exists? The dataset that we have been provided provide information about companies and information regarding their IPO, such as IPO Offering, IPO Characteristics, Textual Characterisitics, Sentiment Characteristics, Target Variables, Control Variables, and IPO Identifiers.

The variables that have been provided are listed below:

 - P(PHO) - Offer Price
 - P(H) - Price Range Higher Bound
 - P(L) - Price Range Lower Bound
 - P(1Day) - First Day Trading Price
 - C1 - Days
 - C2 - Top-Tier Dummy
 - C3 - Earnings per Share
 - C4 - Prior NASDAQ 15-Day Returns
 - C5 - Outstanding Shares
 - C6 - Offering Shares
 - C7 - Sales
 - T1 - Number of Sentences
 - T2 - Number of Words
 - T3 - Number of Real Words
 - T4 - Number of Long Sentences
 - T5 - Number of Long Words
 - S1 - Number of Positive Words
 - S2 - Number of Negative Words
 - S3 - Number of Uncertain Words
 - Y1 - Pre-IPO Price Revision
 - Y2 - Post-IPO Initial Return
 - C3' - Positive EPS Dummy
 - C5' - Share Overhang
 - C6' - Up Revision
 - I1 - Ticker
 - I2 - Company Name
 - I3 - Standard Industry Classifier

## Data Understanding ##

In [8]:
# Importing useful packages
import pandas as pd
import numpy as np

# Read in the .xlsx datafile and converting into a DataFrame
data = pd.read_excel("Competition1_raw_data.xlsx",header=0,na_values='NaN')
df_data = pd.DataFrame(data)

In [10]:
# Understanding the datatypes for the features
print(df_data.head())

     I1                                  I2    I3 P(IPO) P(H) P(L) P(1Day)  \
0  AATI  ADVANCED ANALOGIC TECHNOLOGIES INC  3674     10  9.5  8.5   11.87
1  ABPI     ACCENTIA BIOPHARMACEUTICALS INC  2834      8   10    8    7.25
2  ACAD          ACADIA PHARMACEUTICALS INC  2834      7   14   12     6.7
3  ACHN       ACHILLION PHARMACEUTICALS INC  2834   11.5   16   14   12.39
4  ACLI     AMERICAN COMMERCIAL LINES INC.   4492     21   21   19    56.6

    C1 C2    C3 ...         C6       C7   T1     T2     T3   T4    T5  S1  \
0  122  1  3.43 ...   10600000   51.345  470  12719  11560  301   690  62
1  259  0 -1.62 ...    2400000   25.936  791  21792  19585  510  1120  71
2   90  1 -1.24 ...    5000000    7.378  201   5262   4785  128   325  61
3  209  1 -0.91 ...    4500000    8.526  328   8259   7574  177   509  80
4   80  1  0.07 ...    8250000  632.298  572  14830  13176  336   720  67

    S2   S3
0  117  139
1  242  237
2   33   60
3   59  110
4  149  167

[5 rows x 22 columns]

In [53]:
# Renaming Column Headers with '()' in it
cols = ['I1','I2','I3','P_IPO','P_H','P_L','P_1Day','C1','C2','C3','C4','C5','C6','C7','T1','T2','T3','T4','T5','S1','S2','S3']

# Define columns of 'df_data' using 'cols'
df_data.columns = cols

# Displaying the first 5 rows of dataframe 'df_data'
# it should show 22 columns
print(df_data.head())

     I1                                  I2    I3 P_IPO  P_H  P_L P_1Day   C1  \
0  AATI  ADVANCED ANALOGIC TECHNOLOGIES INC  3674    10  9.5  8.5  11.87  122
1  ABPI     ACCENTIA BIOPHARMACEUTICALS INC  2834     8   10    8   7.25  259
2  ACAD          ACADIA PHARMACEUTICALS INC  2834     7   14   12    6.7   90
3  ACHN       ACHILLION PHARMACEUTICALS INC  2834  11.5   16   14  12.39  209
4  ACLI     AMERICAN COMMERCIAL LINES INC.   4492    21   21   19   56.6   80

  C2    C3 ...         C6       C7   T1     T2     T3   T4    T5  S1   S2   S3
0  1  3.43 ...   10600000   51.345  470  12719  11560  301   690  62  117  139
1  0 -1.62 ...    2400000   25.936  791  21792  19585  510  1120  71  242  237
2  1 -1.24 ...    5000000    7.378  201   5262   4785  128   325  61   33   60
3  1 -0.91 ...    4500000    8.526  328   8259   7574  177   509  80   59  110
4  1  0.07 ...    8250000  632.298  572  14830  13176  336   720  67  149  167

[5 rows x 22 columns]

### Understanding Missing Values ###

Upon intial investigation, there seem to be no missing values, which is great.

But doing some further digging, there are missing values, but the 'for loop', it does not pick up on dashes/hyphens. To show that there are missing values in the dataset.

In [17]:
# Creating an empty list for column names
names = []

# Creating an empty list for the number of null values in each column
values = []

# Checking for Missing Values
for col in df_data.columns:
    names.append(col)
    values.append(df_data[col].isnull().sum())
    print(names[-1],values[-1])

I1 0
I2 0
I3 0
P(IPO) 0
P(H) 0
P(L) 0
P(1Day) 0
C1 0
C2 0
C3 0
C4 0
C5 0
C6 0
C7 0
T1 0
T2 0
T3 0
T4 0
T5 0
S1 0
S2 0
S3 0

##### Actual Missing Values ####

There is only one column `I1` that does not have any "hyphens" or missing values.

In [59]:
# Checking again to show missing values

print(df_data.columns[0], df_data.I1.str.contains(r'-').sum())
print(df_data.columns[1], df_data.I2.str.contains(r'-').sum())
print(df_data.columns[2], df_data.I3.str.contains(r'-').sum())
print(df_data.columns[3], df_data.P_IPO.str.contains(r'-').sum())
print(df_data.columns[4], df_data.P_H.str.contains(r'-').sum())
print(df_data.columns[5], df_data.P_L.str.contains(r'-').sum())
print(df_data.columns[6], df_data.P_1Day.str.contains(r'-').sum())
print(df_data.columns[7], df_data.C1.str.contains(r'-').sum())
print(df_data.columns[8], df_data.C2.str.contains(r'-').sum())
print(df_data.columns[9], df_data.C3.str.contains(r'-').sum())
print(df_data.columns[10], df_data.C4.str.contains(r'-').sum())
print(df_data.columns[11], df_data.C5.str.contains(r'-').sum())
print(df_data.columns[12], df_data.C6.str.contains(r'-').sum())
print(df_data.columns[13], df_data.C7.str.contains(r'-').sum())
print(df_data.columns[14], df_data.T1.str.contains(r'-').sum())
print(df_data.columns[15], df_data.T2.str.contains(r'-').sum())
print(df_data.columns[16], df_data.T3.str.contains(r'-').sum())
print(df_data.columns[17], df_data.T4.str.contains(r'-').sum())
print(df_data.columns[18], df_data.T5.str.contains(r'-').sum())
print(df_data.columns[19], df_data.S1.str.contains(r'-').sum())
print(df_data.columns[20], df_data.S2.str.contains(r'-').sum())
print(df_data.columns[21], df_data.S3.str.contains(r'-').sum())

I1 0
I2 6
I3 8
P_IPO 5
P_H 10
P_L 10
P_1Day 22
C1 22
C2 22
C3 36
C4 22
C5 6
C6 6
C7 72
T1 1
T2 1
T3 1
T4 1
T5 1
S1 1
S2 1
S3 1

The issue that we have now is how to deal with these missing values.

It is unique to see that columns `T1` through `S3` all have 1 missing value. Is it safe to assume that the individual missing values from those columns all belong to one record? Possibly. We will have to identify that one record if that is the case.

In [102]:
# Identifying the sole row that has missing data from features T1 through S3
df_data.loc[df_data.T1 == '-']

,I1,I2,I3,P_IPO,P_H,P_L,P_1Day,C1,C2,C3,...,C6,C7,T1,T2,T3,T4,T5,S1,S2,S3
217,EURX,EURAND N.V.,2834,16,19,17,-,-,-,109.336,...,7000000,109.336,-,-,-,-,-,-,-,-

That is the only row that has the columns `T1` through `S3` that are invalid. We will also identify all the rows that have missing data, which will help identify, overall, how many records have been recorded with at least 1 point of missing data.

In [101]:
df_data.loc[df_data. == '-']

ValueError: Cannot index with multidimensional key